.site-nav
{
background-color:gainsboro;
}
.enter
{
  height:50px;
}
.artistic
{
font-family:"Comic Sans MS";
}
  .affix-top
  {
      width: 100%;
  }
  .affix {
	  top:20px;
  }
  .imgwrapper
   {
  width:100%;
  
  }
  .text-temp
  {
	color:black;
  
  }
  .nav-border
  {
    border-bottom:#428bca solid 5px;
    border-top:#428bca solid 5px;
  }
  .gray-background
{
  background-color: #EFF;
}


p
{
font-family:"Comic Sans MS";
color:green;
}
body
{
position:relative;
}

